# Server Configuration
PORT=5000
NODE_ENV=development

# # MongoDB
# MONGODB_URL=mongodb+srv://admin:Omkar@011923@cluster0.onmyge1.mongodb.net/?appName=Cluster0

# Redis
REDIS_URL=redis://default:Ca5M2ojvqRhTxpf6bRTTh23c5u4g2kQA@redis-12066.c301.ap-south-1-1.ec2.cloud.redislabs.com:12066

# MongoDB
MONGO_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/moto_crew

# Redis
REDIS_HOST=redis-12066.c301.ap-south-1-1.ec2.cloud.redislabs.com
REDIS_PORT=12066
REDIS_PASSWORD=Ca5M2ojvqRhTxpf6bRTTh23c5u4g2kQA
# REDIS_URL=redis://default:Ca5M2ojvqRhTxpf6bRTTh23c5u4g2kQA@redis-12066.c301.ap-south-1-1.ec2.cloud.redislabs.com:12066

# JWT
JWT_SECRET=your_super_secret_key
JWT_EXPIRES_IN=30d

# Socket.IO
SOCKET_CORS_ORIGIN=*

# Agora
AGORA_APP_ID=673eac2254b54d4e92fb9f59d1848d64
AGORA_APP_CERTIFICATE=88b8caa69f3e4b2d95d46572f34c046f
